<form id="auth-container" (ngSubmit)="authUser(loginForm)" #loginForm>
    <mat-card>
      <mat-card-title>
        Введите логин и пароль
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="text" name="login" matInput placeholder="Ваш логин" [(ngModel)]="login" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" name="password" matInput placeholder="Ваш пароль" [(ngModel)]="password" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Войти</button>
      </mat-card-actions>
    </mat-card>
</form>
