mat-grid-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

mat-grid-tile {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 30pt;
    margin-left: 30pt;
    height: 80%;
    width: 100%;
    color: #673AB7;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 70%;
}

mat-card-actions button a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.card-image {
    height: 10%;
    width: 12%;
    background-size: cover;
}