<app-menu [menuItems]="menuItems">
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile *ngFor="let item of menuItems">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-image">
            <i class="material-icons">
              {{item.icon}}
            </i>
          </div>
          <span class="description" [innerHTML]="item.description"></span>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="item.link" mat-raised-button color="accent">
            Открыть
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-menu>
