<app-menu [menuItems]="menuItems">
  <mat-grid-list cols="4" rowHeight="30vh">
    <mat-grid-tile *ngFor="let item of menuItems">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <i class="material-icons">{{item.icon}}</i>
            {{item.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="description" [innerHTML]="item.description"></span>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="item.link" mat-raised-button color="accent">
            Открыть
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
  <table mat-table [dataSource]="userTasks" matSort matSortDisableClear>
    
    <ng-container *ngFor="let gridColumn of gridColumns" [matColumnDef]="gridColumn.prop">
      <th mat-header-cell *matHeaderCellDef>{{gridColumn.header}}</th>
      <td mat-cell *matCellDef="let userTask"> {{userTask[gridColumn.prop]}} </td>
    </ng-container>>
    
    <tr mat-header-row *matHeaderRowDef="visibleGridColumns"></tr>
    <tr mat-row *matRowDef="let userTask; columns: visibleGridColumns"></tr>
  </table>
</app-menu>
