<mat-toolbar>
  <button *ngIf="!sideBarOpened" mat-button (click)="sideNav.toggle()">
    <mat-icon>view_headline</mat-icon>
  </button>
  <button *ngIf="sideBarOpened" mat-button (click)="sideNav.toggle()">
    <mat-icon>clear</mat-icon>
  </button>
  <span class="user-data">Пользователь: <span id="user-name">{{user.name}}</span></span>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sideNav mode="side" [(opened)]="sideBarOpened">
    <div id="side-nav-container">
      <mat-action-list>
        <button *ngIf="!isHomePage" routerLink="/home" mat-list-item><mat-icon>home</mat-icon>Главная</button>
        <button [routerLink]="item.link" mat-list-item *ngFor="let item of menuItems">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.title}}
        </button>
        <button *ngIf="isHomePage" routerLink="/settings" mat-list-item><mat-icon>settings</mat-icon>Настройки</button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="sidenav-content">
      <ng-content>
      </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
