<mat-dialog-content>
  <mat-form-field>
    <mat-label>Тип</mat-label>
    <mat-select>
      <mat-option *ngFor="let taskType of taskTypes" [value]="taskType.name">{{userTask.userTaskType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea matInput placeholder="Добавьте описание..." [value]="userTask.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Приоритет</mat-label>
    <mat-select>
      <mat-option *ngFor="let prior of priorities" [value]="prior.name">{{userTask.priority}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Исполнитель</mat-label>
    <mat-select>
      <mat-option *ngFor="let executorUser of executorUsers" [value]="executorUser.name">{{userTask.executorUser}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата завершения</mat-label>
    <input matInput [matDatepicker]="datepicker" [value]="userTask.executeTaskUntilDate" />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="file"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" (click)="save()">Сохранить</button>
  <button type="button" mat-raised-button color="warn" (click)="cancel()">Отмена</button>
</mat-dialog-actions>
