#caption {
    color: #3F51B5;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#input-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#btn-save-task-type {
    background-color: #3F51B5;
    color: white;
}

#btn-cancel {
    background-color: white;
    color: #BB3268;
}